[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Internet Arcade Games
Name[de]=Internet Arcade-Spiele
Name[el]=Παιχνίδια Arcade στο Διαδίκτυο
Name[es]=Juegos Arcade de Internet
Name[fr]=Jeux Arcades d'Internet
Name[id]=Game Arcade di internet
Name[ja]=インターネットアーケードゲーム
Name[pl]=Gry Internet Arcade
Name[pt_BR]=Internet Arcade Games
Name[pt_PT]=Internet Arcade Games
Name[ru]=Интернет аркадные игры
Name[sv]=Internet Arkad
GenericName=Internet Arcade
Comment=Play Online Internet Arcade Games
Comment[de]=Spiele online Internet Arcade-Spiele
Comment[el]=Παίξτε Online Παιχνίδια Arcade
Comment[es]=Juegue online juegos Arcade de Internet
Comment[fr]=Jouer en ligne les jeux Arcades d'Internet
Comment[id]=Mainkan game arcade secara online
Comment[it]=Gioca agli Arcade online
Comment[ja]=オンラインでインターネットアーケードゲームをプレイ
Comment[pl]=Graj OnLine w gry Arcade
Comment[pt_BR]=Jogar Jogos de Arcada na Internet
Comment[pt_PT]=Jogar Jogos de Arcada na Internet
Comment[ru]=Играть онлайн в аркадные игры
Comment[sv]=Spela Internet-arkadspel på nätet
Exec=x-www-browser https://archive.org/details/internetarcade
Icon=gnome-mahjongg
Terminal=false
MultipleArgs=false
Type=Application
Categories=Game;
