[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Classic PC Games
Name[de]=Classic PC Games
Name[el]=Κλασικά Παιχνίδια για PC
Name[es]=Juegos clásicos de PC
Name[fr]=Jeux PC classiques
Name[id]=Game PC Klasik
Name[ja]=クラシックパソコンゲーム
Name[pl]=Klasyczne Gry PC
Name[pt_BR]=Jogos Clássicos para PC
Name[pt_PT]=Jogos Clássicos para PC
Name[ru]=Классические ПК игры
Name[sv]=Klassiska PC-spel
Name[uk]=Класичні ПК ігри
GenericName=Classic PC Games
Comment=Play Online Classic PC Games
Comment[de]=Spiele online klassische PC Games
Comment[el]=Παίξτε Online Κλασικά Παιχνίδια για PC
Comment[es_AR]=Juegue online juegos clásicos de PC
Comment[es_US]=Jugar on-line a juegos clásicos de PC
Comment[fr]=Jouer en ligne les jeux PC classiques
Comment[id]=Mainkan game PC klasik secara online
Comment[it]=Gioca online ai Classici per PC
Comment[ja]=オンラインでクラシックパソコンゲームをプレイ
Comment[pl]=Graj OnLine w klasyczne gry PC
Comment[pt_BR]=Jogar Jogos Clássicos On-line no PC
Comment[pt_PT]=Jogar Jogos Clássicos On-line no PC
Comment[ru]=Играть онлайн в классические ПК игры
Comment[sv]=Spela klassiska PC-spel på nätet
Comment[uk]=Грати в класичні ПК ігри онлайн
Exec=x-www-browser https://archive.org/details/classicpcgames
Icon=gnome-gnibbles
Terminal=false
MultipleArgs=false
Type=Application
Categories=Game;
