[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MS-DOS Games
Name[es_AR]=Juegos de MS-DOS
Name[fr_FR]=Jeux MS-DOS
Name[ja_JP]=MS-DOS ゲーム
Name[pl_PL]=Gry MS-DOS
Name[pt_BR]=Jogos em MS-DOS
Name[pt_PT]=Jogos em MS-DOS
Name[sv_SE]=MS-DOS-spel
GenericName=MS-DOS Games
Comment=Play Online MS-DOS Games
Comment[es_AR]=Juegue online juegos de MS-DOS
Comment[fr_FR]=Jouer en ligne les jeux MS-DOS
Comment[it_IT]=Gioca online ai giochi per MS-DOS
Comment[ja_JP]=オンラインで MS-DOS ゲームをプレイ
Comment[pl_PL]=Graj OnLine w gry MS-DOS
Comment[pt_BR]=Jogar On-line Jogos em MS-DOS
Comment[pt_PT]=Jogar On-line Jogos em MS-DOS
Comment[sv_SE]=Spela MS-DOS-spel på nätet
Exec=x-www-browser https://archive.org/details/softwarelibrary_msdos_games
Icon=gnome-mines
Terminal=false
MultipleArgs=false
Type=Application
Categories=Game;
