[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MS-DOS Games
Name[de]=MS-DOS Spiele
Name[es]=Juegos de MS-DOS
Name[fr]=Jeux MS-DOS
Name[id]=Game MS-DOS
Name[ja]=MS-DOS ゲーム
Name[pl]=Gry MS-DOS
Name[pt_BR]=Jogos em MS-DOS
Name[pt_PT]=Jogos em MS-DOS
Name[ru]=MS-DOS игры
Name[sv]=MS-DOS-spel
GenericName=MS-DOS Games
Comment=Play Online MS-DOS Games
Comment[de]=Spiele online MS-DOS Spiele
Comment[es]=Juegue online juegos de MS-DOS
Comment[fr]=Jouer en ligne les jeux MS-DOS
Comment[id]=Mainkan game MS-DOS secara online
Comment[it]=Gioca online ai giochi per MS-DOS
Comment[ja]=オンラインで MS-DOS ゲームをプレイ
Comment[pl]=Graj OnLine w gry MS-DOS
Comment[pt_BR]=Jogar On-line Jogos em MS-DOS
Comment[pt_PT]=Jogar On-line Jogos em MS-DOS
Comment[ru]=Играть онлайн в MS-DOS игры
Comment[sv]=Spela MS-DOS-spel på nätet
Exec=x-www-browser https://archive.org/details/softwarelibrary_msdos_games
Icon=gnome-mines
Terminal=false
MultipleArgs=false
Type=Application
Categories=Game;
