[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Internet Archive Games
Name[es_AR]=Juegos del Archivo de Internet
Name[fr_FR]=Jeux des Archives Internet
Name[ja_JP]=Internet Archive ゲーム
Name[pl_PL]=Gry Internet Archive
Name[pt_BR]=Jogos Jogos antigos na Internet
Name[pt_PT]=Jogos Jogos antigos na Internet
Name[sv_SE]=Spel från Internet-arkivet
GenericName=Internet Archive Game
Comment=Play Online Internet Archive Games
Comment[es_AR]=Juegue online juegos del Archivo de Internet
Comment[fr_FR]=Jouer en ligne les jeux des Archives Internet
Comment[it_IT]=Gioca con i giochi dell'Archivio Internet Online
Comment[ja_JP]=オンラインで Internet Archive ゲームをプレイ
Comment[pl_PL]=Graj OnLine w gry z Internet Archive
Comment[pt_BR]=Jogar on-line Jogos antigos Internet
Comment[pt_PT]=Jogar on-line Jogos antigos Internet
Comment[sv_SE]=Spela spel från Internet-arkivet på nätet
Exec=/usr/bin/sparky-ia
Icon=applications-games
Terminal=false
MultipleArgs=false
Type=Application
Categories=Game;
