[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Internet Archive Games
Name[de]=Internet-Archiv-Spiele
Name[es]=Juegos del Archivo de Internet
Name[fr]=Jeux des Archives Internet
Name[id]=Game di Internet Archive
Name[ja]=Internet Archive ゲーム
Name[pl]=Gry Internet Archive
Name[pt_BR]=Jogos Jogos antigos na Internet
Name[pt_PT]=Jogos Jogos antigos na Internet
Name[ru]=Интернет-Архив Игр
Name[sv]=Spel från Internet-arkivet
GenericName=Internet Archive Game
Comment=Play Online Internet Archive Games
Comment[de]=Spiele online Internet-Archiv-Spiele
Comment[es]=Juegue online juegos del Archivo de Internet
Comment[fr]=Jouer en ligne les jeux des Archives Internet
Comment[id]=Mainkan game online di Internet Archive
Comment[it]=Gioca con i giochi dell'Archivio Internet Online
Comment[ja]=オンラインで Internet Archive ゲームをプレイ
Comment[pl]=Graj OnLine w gry z Internet Archive
Comment[pt_BR]=Jogar on-line Jogos antigos Internet
Comment[pt_PT]=Jogar on-line Jogos antigos Internet
Comment[ru]=Играть онлайн в игры из интернет архива
Comment[sv]=Spela spel från Internet-arkivet på nätet
Exec=/usr/bin/sparky-ia
Icon=applications-games
Terminal=false
MultipleArgs=false
Type=Application
Categories=Game;
